

#article{
	padding: : 4px 5px;
	background-color: #ffffff;
	font-family: 'Muli', sans-serif;
	min-height: 100%;
	height: 100%;
	overflow-x:hidden; 
	
}


.sidebar-left{
	background-color: #F8F8F8;
	border-right: thin solid green;
	font-size: 14px;
	font-color: #ffffff;
	min-height: 100%;
	height: 100%;
}



.nav-text{
	color: black;
}

.right-content {
	padding-left: 0px;
	min-height: 100%

}
.carousel img {
	top: 0;
	left: 0;
	min-width: 100%;
	height: 738px;
	max-width: none;
}
.carousel-content {
	position: absolute;
	bottom: 17%;
	font-family: 'Bree Serif', serif;
	left: 5%;
	z-index: 20;
	color: white;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

@media only screen and (max-device-width: 768px){
    .carousel{
        display: none;
    }
}
