#article{
	padding: : 10px 10px;
    background-color: #ffffff;
	font-family: 'Muli', sans-serif;
}


.sidebar-left{
  background-color: #F8F8F8;
  border-right: thin solid green;
  font-size: 14px;
  position: left;
  font-color: #ffffff;
}



.nav-text{
	color: black;
}